*.egg-info
.venv
.env
build/
dist/
**/__pycache__/
*.DS_Store
.pytest_cache/
.ruff_cache/
.python-version
uv.lock
chromadb/
chromadb/
*.sqlite3
*.bin
__pycache__/
chromadb/
*.sqlite3
*.bin
__pycache__/
